---
name: linting
on:
  - pull_request

jobs:
  markdown:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5
      - name: Markdown Lint
        uses: actionshub/markdownlint@v3.1.4

  Dockerfile:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5
      - name: Dockerfile Lint
        uses: burdzwastaken/hadolint-action@1.14.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HADOLINT_ACTION_DOCKERFILE_FOLDER: .

  yaml:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5
      - name: YAML Lint
        uses: kustomize-everything/action-yaml-linter@main
        with:
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  shell:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
